header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}


nav {
    width: max-content;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}




